body{
    background-color: #22292b;
    font-family: "Noto Sans", "Century Gothic", Verdana, sans-serif;
    color: white;
    margin: 0px;
}

.Menu{
    top: 0;
    background-color: #2d2f34;
    width: 100%;
    height: 90px;
    padding: 0px;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    position: fixed;
    overflow: hidden;
}

.Title{
    float: left;
    position: relative;
    /* background-color: orange; */
    width: 750px;
    height: 90px;
}

.ActualTitle{
    padding-left: 20px;
    padding-top: 17px;
    width: 90%;
}

.TWRC{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 15px #111111;
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
    /* background-color: cyan; */
}

.TWRC:hover{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(218, 155, 19);
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: cyan; */
}


#TitleLogo{
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-right: 20px;
}

.Navigation{
    float: right;
    position: relative;
    /* background-color: blue; */
    width: 40%;
    height: 90px;
}

.NavigationButtonMenu{
    margin: 0;
    margin-right: 50px;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background-color: lime; */
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MenubuttonLink{
    text-shadow: 0px 0px 5px #111111;
    color: white;
    text-decoration:none;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

.MenubuttonLink:hover{
    text-shadow: 0px 0px 5px rgb(255, 187, 0);
    color: white;
    text-decoration:underline;
    text-decoration-color: rgb(255, 187, 0);
}

/* .Corps{
    margin-top: 80px;
} */

.PageHeader{
    height: 120px;
    background-color: #1f2226;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    margin-bottom: 10px;
    width: 100%;
}

.ChoiceBox{
    display: flex;
    justify-content: center;
}

.GamesContainer{
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    max-width: 2000px;
}

.GamesContainer *{
    padding: 0px;
    margin: 0px;
}

.GameBoxHover{
    margin: 10px 30px;
    height: 520px;
    width: 330px;
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0px;
    box-shadow: 0px 0px 15px #131516;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.GameBoxHover:hover{
    box-shadow: 0px 0px 15px #ffa600;
}

@media screen and (max-width: 600px) {

}

.GameIcon{
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

.GameIconBox{
    padding: 0px 15px;
    background-color: #1f2226;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameIconBox:hover{
    padding: 0px 15px;
    padding-top: 2px;
    background-color: #1f2226;
    height: 450px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.GameHeader{
    width: 100%;
    height: 14%;
    background-color: #2d2f34;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.GameTitle{
    font-size: 100%; /*21px*/
    text-align: center;
    padding-top: 5px;
}

.GameYear{
    font-size: 10px;
    text-align: center;
    color: rgb(202, 134, 8)
}

.WrStat{
    text-align: right;
    padding-right: 10px;
    font-weight: 200;
    font-style: italic;
}

.WrCount{
    color: green;
    font-weight: 800;
}