@import url("stats.css");
@import url("playerstats.css");
@import url("style.css");
@import url("gamesstyle.css");
@import url("canyon.css");
@import url("lagoon.css");
@import url("stadium.css");
@import url("valley.css");
@import url("TM2style.css");
@import url("white.css");
@import url("black.css");
@import url("red.css");
@import url("blue.css");
@import url("green.css");

body {
    /* background-color: #22292b; */
    font-family: "Noto Sans", "Century Gothic", Verdana, sans-serif;
    color: white;
    margin: 0px;
    background-image: url("../assets/TM2LagoonBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Menu {
    top: 0;
    background-color: #2d2f34;
    width: 100%;
    height: 90px;
    padding: 0px;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
}

.Title {
    float: left;
    position: relative;
    /* background-color: orange; */
    width: 750px;
    height: 90px;
}

.ActualTitle {
    padding-left: 20px;
    padding-top: 17px;
    width: 90%;
}

.TWRC {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 15px #111111;
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
    /* background-color: cyan; */
}

.TWRC:hover {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(218, 155, 19);
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: cyan; */
}

#TitleLogo {
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-right: 20px;
}

.Navigation {
    float: right;
    position: relative;
    /* background-color: blue; */
    width: 40%;
    height: 90px;
}

.NavigationButtonMenu {
    margin: 0;
    margin-right: 50px;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background-color: lime; */
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MenubuttonLink {
    text-shadow: 0px 0px 5px #111111;
    color: white;
    text-decoration: none;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

.MenubuttonLink:hover {
    text-shadow: 0px 0px 5px rgb(255, 187, 0);
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(255, 187, 0);
}

.Corps {
    margin-top: 100px;
}

.PageHeader {
    height: 120px;
    background-color: #1f2226;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    margin-bottom: 50px;
}

#mainTitle {
    margin-top: 350px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
}

#nbWR {
    font-size: 100px;
    padding: 0px 30px;
    border-radius: 50px;
    background-color: #000000b6;
    box-shadow: 0px 0px 10px #000000b6;
    text-align: center;
}

#nbWR:hover {
    background-color: #085c083d;
    box-shadow: 0px 0px 10px #085c083d;
    -webkit-transition: background-color 0.2s;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: background-color 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: background-color 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}

#latestWR-container {
    width: 500px;
    /* display: flex;
    justify-content: center; */
    margin-top: 130px;
    background-color: #000000b6;
    box-shadow: 0px 0px 10px #000000b6;
    border-radius: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);

    overflow: hidden;
    white-space: nowrap;
}

#lastXWR {
    margin-left: 100px;
    font-style: italic;
    font-size: 30px;
    padding-bottom: 0px;
}

.latestWR-menu {
    display: flex;
    overflow-x: auto; /* Active le défilement horizontal */
    scroll-snap-type: x mandatory; /* Active l'effet snap horizontal */
    scroll-behavior: smooth; /* Défilement fluide */
}

.latestWR-menu::-webkit-scrollbar {
    width: 8px; /* Largeur du scroller */
    height: 8px; /* Hauteur pour le scroll horizontal */
}

.latestWR-menu::-webkit-scrollbar-thumb {
    background: green; /* Couleur de la barre */
    border-radius: 10px; /* Coins arrondis */
}

.latestWR-menu::-webkit-scrollbar-track {
    background: #dddddd00; /* Couleur de l’arrière-plan */
}

.latestWR-menu h3 {
    margin: 0px;
}

.latestWR-item {
    padding: 10px 10px;
    height: auto;
    width: auto;
    display: inline-block;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    vertical-align: top;
    scroll-snap-align: center; /* Stoppe le défilement au centre de l'élément */
}

.latest-subitem {
    display: flex;
    width: auto;
    height: 160px;
    gap: 0px;
    background-color: #1b1b1b5e;
    margin: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #1b1b1b5e;
    justify-items: start;
    align-items: center;
    border-left: 4px solid green;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.latest-subitem:hover {
    background-color: #085c083d;
}

#latestThumbnail {
    width: 160px;
}

#latestThumbnail img {
    width: 160px;
    height: auto;
    border-radius: 15px;
    margin-top: 5px;
}

#latestInfo {
    margin: 0px 10px;
    padding: 0px;
}

.flagLatestWR {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-bottom: 3px;
}

.wrBox {
    color: green;
    text-shadow: 0px 0px 5px #2d7926;
}

#nbWR {
    animation: jitter 15s infinite;
}

@keyframes jitter {
    0% {
        transform: translateX(0) rotate(1deg);
    }
    25% {
        transform: translateX(-5px) rotate(-1deg);
    }
    50% {
        transform: translateX(5px) rotate(1deg);
    }
    75% {
        transform: translateX(-5px) rotate(-1deg);
    }
    100% {
        transform: translateX(0) rotate(1deg);
    }
}
