body{
    background-color: #22292b;
    font-family: "Noto Sans", "Century Gothic", Verdana, sans-serif;
    color: white;
    margin: 0px;
    background-image: url(../GamePics/TurboBackground.png);
    background-attachment: fixed;
}

.Menu{
    top: 0;
    background-color: #2d2f34;
    width: 100%;
    height: 90px;
    padding: 0px;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    position: fixed;
    overflow: hidden;
}

.Title{
    float: left;
    position: relative;
    width: 750px;
    height: 90px;
}

.ActualTitle{
    padding-left: 20px;
    padding-top: 17px;
    width: 90%;
}

.TWRC{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 15px #111111;
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

.TWRC:hover{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 5px rgb(218, 155, 19);
    word-spacing: 1px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
}


#TitleLogo{
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-right: 20px;
}

.Navigation{
    float: right;
    position: relative;
    width: 40%;
    height: 90px;
}

.NavigationButtonMenu{
    margin: 0;
    margin-right: 50px;
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MenubuttonLink{
    text-shadow: 0px 0px 5px #111111;
    color: white;
    text-decoration:none;
    -webkit-transition: text-shadow 0.2s;
    -moz-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

.MenubuttonLink:hover{
    text-shadow: 0px 0px 5px rgb(255, 187, 0);
    color: white;
    text-decoration:underline;
    text-decoration-color: rgb(255, 187, 0);
}

.PageHeader{
    height: 120px;
    background-color: #1f2226;
    border-bottom: 2px solid #999999;
    box-shadow: 0px 0px 20px #111111;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.HeaderBox{
    width: 30%;
    padding-top: 78px;
    align-items: center;
}

#HeaderLeft{
    margin-top: 7px;
}

.HeaderLeftButton{
    background-color: rgb(86, 86, 86);
    width: 90px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.HeaderLeftButton:hover{
    box-shadow: 0px 0px 5px rgb(86, 86, 86);
}

.ChoiceBox{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: min(95%,1450px);
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgb(82, 82, 82);
}

.FlagHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
}

.FlagHeader img{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.ChoiceBoxFlag{
    margin: 10px 0px;
    width: min(100%,1400px);
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.ChoiceBoxFlag .MapThumbnailBox{
    grid-area: "FirstRow";
}

.MapThumbnailBox{
    background-color: #2d2f34;
    margin: 10px 20px;
    padding: 0px 5px;
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px black;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
    -o-transition: border 0.2s;
    transition: border 0.2s;
}

.MapThumbnailBox:hover{
    border: 2px solid rgb(255, 187, 0);
    cursor: pointer;
    margin-top: 8px;
}

.MapThumbnailBox *{
    padding: 0px;
    margin: 0px;
}

.ThumbnailHeader{
    font-size: 20px;
    text-align: center;
}

.MapThumbnail{
    width: 210px; /*170px*/
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(99, 99, 99);
}

.ThumbnailFooter{
    font-size: 15px;
    text-align: center;
    /* background-color: aqua; */
}

.Wr{
    color: gold;
}

.WrFlag{
    height: 17px;
    vertical-align:text-bottom;
}

.WrHolder{
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .ChoiceBox{
        width: 100%;
    }

    .ThumbnailHeader{
        font-size: 25px;
    }

    .ThumbnailFooter{
        font-size: 20px;
    }

    .WrFlag{
        height: 22px;
    }

    .MapThumbnail{
        width: 100%;
    }

    #TitleHeader{
        width: 70%;
    }

    .FlagHeader{
        font-size: 10px;
    }
}