<%- include('partials/header.html') -%>
<html>
    <div class="Corps">
        <div id="mainTitle">
            <div id="nbWR"><span class="wrBox">x</span> WRs archived</div>
            <div id="latestWR-container">
                <span id="lastXWR">Last 15 World Records</span>
                <div class="latestWR-menu" id="menu"></div>

                <!-- <div id="latestThumbnail">
                        <img src="assets/mapThumbnails/TM2_Stadium_C08.jpg">
                    </div>
                    <div id="latestInfo">
                        <h1 style="margin: 0px;">Latest WR:</h1>
                        <h3 id="latestMap">map: C08 - Stadium</h3>
                        <h3 id="latestHolder">by Loupphok <img class="flagLatestWR" src="assets/flags/france.png"></h3>
                        <h3 id="latestDate">01/01/2025</h3>
                    </div> -->
            </div>
        </div>
        <div class="textBox">
            <!-- <p>Hello and welcome here! This spreadsheet was made to better keep track of any Trackmania² & TMTurbo solo map's history from the release to the present day. The history about all 460 maps were searched and tracked down by Loupphok with the assistance of many occasional helpers. If you find any error or if you have any addition to give, don't hesitate to contact "Loupphok" on discord! This spreadsheet took hundreds of hours from information gathering to information display so we hope you will enjoy it!</p> -->
            <p></p>
        </div>
    </div>
    <script src="js/index.js"></script>
</html>
<%- include('partials/footer.html') -%>
