<%- include('../../partials/header.html') -%>
<div class="Corps">
    <div class="PageHeader">
        <div class="HeaderBox" id="HeaderLeft">
            <div class="HeaderLeftButton" onclick="location.href='/tmt';" style="cursor: pointer">
                <h4>>>Back</h4>
            </div>
        </div>
        <div class="HeaderBox" id="TitleHeader">
            <h2 class="HeaderBoxTitle" style="text-align: center">Pick the map</h2>
        </div>
        <div class="HeaderBox" id="HeaderRight">
            <h4></h4>
        </div>
    </div>
    <script src="/js/tmt_green.js"></script>
    <p> <br /><br /><br /><br /><br /><br /><br /><br /><br /> </p>
</div>
<%- include('../../partials/footer.html') -%>
